
div{
    width: 100%;
    display: flex;
    background-color: #0F1624;
    

    a{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 15% 0% 15%;
        gap: 1%;
        font-size: 1.7vh;
        
        button{
            
            color: white;
            height: 80%;
            background-color: #0F1624;
            
        }
    }
    nav{
        width: 10%;
        display: flex;
        justify-content: space-between;
        padding: 2% 3%;

        a{
            gap: 100%;

            img{
                width: 60%;
            }
        }
    }
}