

.button{
    a{
        text-decoration: none;
        padding: 0%;
    }

    button{
        background-image:
        linear-gradient(to right, #925DD5 , #13ACC7);
        border-radius: 83px;
        width: 70%;
        margin: 0% 0% 4% 1%;
        height: 100%;
        color: white;
        cursor: pointer;
    }
    
}