

.button{


    button{
        background-image:
        linear-gradient(to right, #925DD5 , #13ACC7);
        border-radius: 83px;
        width: 20%;
        margin: 0% 0% 4% 15%;
        color: white;
        cursor: pointer;
    }
    
}