

.footer{
    width: 100%;
    display: grid;
}
.contact{
    padding: 10% 0% 0% 0%;
    width: 100%;
    justify-content: space-around;
    
    h3{
        font-size: 1.8vh;
        text-align: start;
        
    }
}
.midia{
    width: 100%;
    justify-content: center;
    gap: 50px;
    padding: 10% 0% 5% 0%;
    img{
        width: 7%;
    }
}